.contents{
    padding: 20px 0;
}
.dayTitle{
    font-size: 18px;
    text-align: center;
}
.innerSetting{
    display: flex;
    margin-top: 10px;
}
.settingTitle{
    margin: auto;
}

/* selectbox */
.selectbox-1 {
    position: relative;
}

.selectbox-1::before,
.selectbox-1::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectbox-1::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #51C7CC;
}

.selectbox-1::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectbox-1 select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.selectbox-1 select:focus {
    outline: 2px solid #51C7CC;
}
.titleTimeSeparated{
    text-align: center;
    margin-top: 20px;
}
