
.grid {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr); /* slot列 + 7日分 */
    border-bottom: 1px solid #ccc;
  }
  
.container {
  overflow-x: auto;
}

/* 表全体のスタイル */
.container table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
  text-align:center;
  min-width: 800px; /* 必要に応じて調整 */
}

/* ヘッダー行（曜日） */
.colIndex {
  background-color: #51c7cc;
  color: white;
  padding:12px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ddd;
}

/* 各時間帯（朝・昼・晩）の行ラベル */
.slot {
 margin: auto;
}

/* 通常のセル */
.item {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* ホバー時にハイライト */
.item:hover {
  background-color: #e0f7fa;
  cursor: pointer;
}



