.table {
  min-width: 600px;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
}

.td {
  border: 1px solid #ccc;
  padding: 0.6em;
  text-align: center;
}

.th {
  background-color: #f7f7f7;
}

.cell {
  white-space: pre-wrap;
  line-height: 1.4;
}
