.button{
    width: 70%;
    max-width: 300px;
    height: 60px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    background-color:#51C7CC;
    margin: 20px auto 0;
    display: block; 
}
.button:hover {
  background-color: #7cd9e0;
}
