.container {
  max-width: 500px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 35px;
}
.grid_item {
  padding: 10px;
  text-align: center;
}
.date {
  cursor: 'pointer';
}
.date:hover {
  color: #b2b2b2;
}

.list {
  list-style: none;
}

.container {
}
