.page {
  min-height: 100vh; /* 全体で画面の高さをカバー */
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
.form {
  text-align: center;
}
.input_wrapper {
  padding: 15px 0;
}
.p {
  justify-self: start;
  padding-left: 10px;
  color: #333;
}
.input {
  height: 40px;
  background-color: rgba(243, 244, 246, 0.8);
  border-color: rgba(243, 244, 246, 0.656);
  border-style: solid;
  font-size: 20px;
  padding-left: 10px;
}
.input_w80 {
  width: 80%;
}

.createButton {
  width: 90%;
  height: 60px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-size: 17px;
  background-color:#51C7CC;
  margin-top: 50px;
}

 .createButton:hover {
  background-color: #7cd9e0;
}


  @media (min-width: 767px) {
    .page{
      width: 500px;
      margin: 0 auto;
    }
    
  }