.contents {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.p {
  margin:20px 0 5px 15px;
}

.nameSettings p{
  text-align: left;
  padding-left: 10px;
}

.border{
  border: 1px #3c3c3c solid;
  width: 100%;
  margin: 30px auto;
  margin-bottom: 70px;
}

.h2{
  font-size: 18px;

}

.input {
  height: 40px;
  width: 70%;
  display:block;
  margin:0 auto;
  background-color: rgba(243, 244, 246, 0.944);
  border-color: rgba(243, 244, 246, 0.656);
  border-style: solid;
  font-size: 20px;
  text-align: center;
}


.nameSettings{
  text-align: center;
}
.groupNameInput {
  height: 40px;
  width: 80%;
  background-color: rgba(243, 244, 246, 0.8);
  border-color: rgba(243, 244, 246, 0.656);
  border-style: solid;
  font-size: 20px;
  padding-left: 10px;
}

.settingMax{
  padding-bottom: 100px;
}

@media (min-width: 767px) {
  .contents{
    width: 500px;
    margin: 0 auto;
  }
  
}