.input_wrapper {
  padding: 15px 0;
}
.p {
  justify-self: start;
  padding-left: 10px;
  color: #333;
}
.input {
  height: 40px;
  background-color: rgba(243, 244, 246, 0.8);
  border-color: rgba(243, 244, 246, 0.656);
  border-style: solid;
  font-size: 20px;
  padding-left: 10px;
}

.input_w70 {
  width: calc(80% - 70px);
}

.addButton {
  width: 70px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background-color: #51c7cc;
}

.addButton:hover {
  background-color: #7cd9e0;
}